@import "tailwindcss";

@theme {
  --color-primary: #059669;
  --color-primary-light: #34d399;
  --color-primary-dark: #047857;
  --color-accent: #f59e0b;
  --color-accent-light: #fbbf24;
  --color-surface: #f8fafc;
  --color-muted: #94a3b8;
  --font-family-cairo: 'Cairo', sans-serif;
}
